<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
	{% comment %} my css file {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.2.0-dist/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
</head>
<body>
	
	<nav class="navbar navbar-expand-lg bg-light">
	  <div class="container-fluid">
	  	<marquee width="60%" direction="left">
	    <a class="navbar-brand" href="{% url 'subadmin' %}">Crime Management</a></marquee>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

	        <!-- </li> -->
	        {% if not user.is_authenticated %}
	        
			<li class="nav-item itm">
				<a class="nav-link  " href="signin">Signin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="signup">Signup</a>
			</li>

			{% else %}
            <li class="nav-item">
                <a class="nav-link " href="">Hello {{user.first_name}}</a>
            </li>
				<!-- <li class="nav-item itm">
					<a class="nav-link " href="crime" >Add Crime</a>
				</li> -->
                <li class="nav-item">
					<a class="nav-link " href="signup">Add New User</a>
				</li>
				
				
				<li class="nav-item">
					<a class="nav-link " href="signout">Logout</a>
				</li>
			{% endif %}

			
			
	        
	      </ul>
	      
	    </div>
	  </div>
	</nav>
		<div class="container">

		{% block content %}
			


		<div class="row ">
		
			<div class="col text-center"><br>

				<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>Hello!</strong> {{ user.username }} You are successfully logged in.
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				  </div> -->

				{% comment %} <h3> Hello {{ fname}} <br> You are successfully logged in</h3>
				{% for messsage in messages%}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Message!</strong> {{ message }}.
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}

				<h3> Welcome home </h3> {% endcomment %}
				</div>

				
		</div>

		<div class="row">
			<div class="col-12 col-lg-6 col-md-6">
			<div class="card" style="width:;">
				<img src="{% static 'images/crime1.jpg'%}" class="card-img-top" alt="...">
				<div class="card-body text-center">
				  <h3 class="card-title"><i class="bi bi-person-plus"></i></h3>
				  <p class="card-text">Register User.</p>
				  <a href="signup" class="btn btn-primary">Register</a>
				</div>
			  </div>
			</div>
			<div class="col-12 col-lg-6 col-md-6">
			  <div class="card" style="width: ;">
				<img src="{% static 'images/crime2.jpg'%}" class="card-img-top" alt="...">
				<div class="card-body text-center">
					
				  <h3 class="card-title"><i class="bi bi-people"></i></h3>
				  <p class="card-text">View registered users.</p>
				  <a href="registeredusers" class="btn btn-primary">View</a>
				</div>
			  </div>
			</div>
		</div>


        <!-- <div class="row">
			<div class="col">
			<div class="card" style="width:;">
				<img src="{% static 'images/crime1.jpg'%}" class="card-img-top" alt="...">
				<div class="card-body text-center">
				  <h5 class="card-title">Add Crime</h5>
				  <p class="card-text">Register new Cases.</p>
				  <a href="crime" class="btn btn-primary">Register</a>
				</div>
			  </div>
			</div>
			
		</div>
 -->
		

		  {% endblock %}

		  </div>
		  <br>
		  <footer class="page-footer font-small blue">

	      <!-- Copyright -->
	      <div class="footer-copyright text-white text-center py-3 bg-dark">© 2022 Copyright:
	         <a class="fst-italic">"Combatting crime"</a>
	      </div>
	      <!-- Copyright -->

	    </footer>


	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
	
	<script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.min.js' %}"> </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script>
		$(document).ready(function () {
		    $('#reportedcases').DataTable();
		    'responsive': true,
		    cellborder: true,
		    hover: true,

		});

		$(document).ready(function () {
		    $('#users').DataTable();
		    'responsive': true,
		    cellborder: true,
		    hover: true,
		    "autoWidth": false,

		});
	</script>

</body>

</html>